@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&display=swap');


.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}

html {
  scroll-behavior: smooth;
}

#light {
  background-color: #F6F6F6;
}

/* Dark Theme */

#dark {
  background-color: #2A2B32;
}

/* Introduction */

#dark .intro--content {
  background: url('./images/darkmode-bg.svg');
  background-repeat: repeat;
  background-position: center top;
}

#dark .intro--content {
  color: #fff;
}

#dark .intro--content .social--media--intro a{
  color: #fff;
}

#dark .intro--content .social--media--intro a:hover{
  color: #FFBA2F;
}

#dark .social--media--art path {
  fill: #fff;
}

#dark .social--media--art:hover path {
  fill: #FFBA2F;
}

/* Experience */

#dark .experience {
  background-color: #34353A;
  color: #fff;
}

#dark .experience h2 {
  color: #fff;
}

#dark .experience .vertical-timeline-element-content.bounce-in {
  background-color: #6b6d77;
}

/* Skills */

#dark .skills--heading {
  color: #fff;
}

#dark .black--square {
  background-color: #34353A;
}

/* Progress Bar */

#dark .progress--bar--wrapper {
  background-color: #a6a6a6;
}

/* Projects */

#dark .projects {
  background-color: #34353A;
  background-image: url('./images/darkmode-bg2.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#dark .projects--heading,
#dark .projects--filter .project--filter--item button {
  color: #fff;
}

/* Hover dark */

#dark .project--filter--item button:hover{
  color: #FFBA2F;
  font-weight: bold;
}

/* Active project dark */

#dark .projects--filter .project--filter--item .active{
  color: #FFBA2F;
  font-weight: bold;
}

/* Cards */

#dark .projects--card--link {
  color: #fff;
}

/* Contact */

#dark .contact--heading {
  color: #fff;
}

#dark .contact--form .form--label{
  color: #fff;
}

#dark .contact--form .form--input,
#dark .contact--form .contact--textarea{
  background-color: #46484E;
}

/* Footer */

#dark .footer {
  background-color: #212228;
  color: #fff;
}

#dark .social--media a{
  color: #FFBA2F;
}

#dark .social--media--art--footer path {
  fill: #FFBA2F;
}

/* Footer links hover */

#dark .footer .social--media a:hover {
  color: #fff;
}

#dark .social--media--art--footer:hover path {
  fill: #fff;
}

/* Single Page */

#dark .single--page {
  background-color: #2A2B32;
  color: #fff;
}

#dark .project--tools .skill-tag{
  color: #000;
}

#dark .arrow--right path,
#dark .arrow--left path {
  fill: #fff;
}

#dark .arrow--right--svg:hover path,
#dark .arrow--left--svg:hover path
{
  fill: #FFBA2F;
}
