@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&display=swap');


.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
  background-color: #F6F6F6;
  background: url('./images/lightmode-bg.svg');
  background-repeat: no-repeat;
  background-position: center top;
}

html {
  scroll-behavior: smooth;
}
